.background {
	text-align: center;
}

#heading{
	font-family: Verdana;
	font-weight: normal;
	font-size: 50px;
	color:white;
	
}

.sub-heading a {
	color:aquamarine;
	font-size: 16px;
}

.subject-heading {
	font-family: Verdana;
	font-weight: 300;
	font-size: 42px;
	color:white;
}

#gray-subject {
	color: gray; 
	font-family: Verdana; 
	font-size: 21px;
}

#footer h2{
	color: gray;
	text-align: right;
}